<%= render '/computacion/head' %>

	    <h4><small>Cosas de Alumnos</small></h4>
	    <hr>
	    <h2>Alumnos</h2>
	    <h5><span class="glyphicon glyphicon-time"></span> Jueves 16 Junio 2016</h5>
		<div class="list-group-item list-group-item-info col-sm-5">
			<p >
				<strong>Nombre</strong><br>
				<%= @materia.nombre_materia %>
			</p>
			
		</div>
	</div>
  </div>
</div>