<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/">Inicio</a></li>
        <li><a href="/alumnos">Alumnos</a></li>
        <li><a href="/materia">Materias</a></li>
        <li><a href="/calificacion">Calificaciones</a></li>
        <li><a href="cuota">Cuotas</a></li>
        <li><a href="/asistencia">Asistencia</a></li>
      </ul><br>      
    </div>
    <div class="col-sm-9">