<%= render 'head' %>
      <h4><small>Computación</small></h4>
      <hr>
      <h2>--------</h2>
      <h5><span class="glyphicon glyphicon-time"></span> <%=Date.current.to_s%></h5>
           
    </div>

  </div>
</div>

