<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/">Inicio</a></li>
        <li><a href="/instructors">Instructor</a></li>
      </ul><br>      
    </div>
    <div class="col-sm-9">